{
    "token": "--snip--",
    "renames": {
        "cassname": [
            344166495317655562,
            "Cass'"
        ],
    },
    "memes": {
        "java": [
            "java.png",
            null
        ],
    }
}
